<header>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{$Think.config.website.name}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active hidden-xs"><a href="{:url('index/index')}">首页 <span class="sr-only">(current)</span></a></li>
        {if condition="$userInfo.role EQ '999'"}
        <li class="dropdown" style="display: none;">
          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">客户管理<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="javascript:;">市场部</a></li>
            <li><a href="javascript:;">金融部</a></li>
            <li><a href="javascript:;">管理员</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="javascript:;">数据统计</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="javascript:;">客户维护</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">现金贷 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{:url('order/index')}">订单列表</a></li>
            <li><a href="{:url('user/index')}">用户列表</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="javascript:;">代扣接口</a></li>
            <li><a href="{:url('risk/index')}">风控接口</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="javascript:;">用户权限</a></li>
          </ul>
        </li>
        {/if}
      </ul>
      <ul class="nav navbar-nav navbar-right hidden-xs">
        {if condition="$userInfo.role GT '0'"}
        <li><a href="javascript:;">退出</a></li>
        <li class="dropdown">
          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">关于我 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="javascript:;">我的账户</a></li>
            <li><a href="javascript:;">系统设置</a></li>
            <li role="separator" class="divider"></li>
            <li style="display: none;"><a id="btn_user_signout" href="javascript:;">退出</a></li>
            <li><a href="{:url('Login/sigout')}">退出</a></li>
          </ul>
        </li>
        {else /}
        <li><a href="javascript:;">登录</a></li>
        {/if}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>